.checkbox_container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-block: 15px;
}

.checkbox_container label {
  margin: 3px;
  width: 100%;
  font-weight: normal;
}

.checkbox_container input {
  margin: 2px 5px 2px 2px;
  width: 20px;
  height: 20px;
}

/* ###########################         Mobile/Tablet           ##################################### */

@media (max-width: 767px) {
  
}
