.dpi_checkbox_form {
  margin-bottom: 1em;
}

.week_checkbox_form {
  display: flex;
  justify-content: space-around;
  padding: 0.7em;
  border: 1px solid #777;
  border-radius: 5px;
}

.day_checkbox_form {
  display: flex;
  flex-direction: column;
}

.day_checkbox_form input {
  margin-inline: auto;
  width: 20px;
  height: 20px;
}

.dpi_label{
  font-weight: normal;
}

/* ###########################         Mobile/Tablet           ##################################### */

@media (max-width: 767px) {
  
}