.hazard_comments {
  height: 3em;
}

.hazard_comments {
  width: 100%;
  padding: 0.7em;
  border: 1px solid #777;
  border-radius: 5px;
  margin-top: 0.3em;
  margin-bottom: 1em;
  word-break: break-all;
  resize: none;
}

.hazard_check_container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.hazard_check_container label {
  margin: 3px;
}

.hazard_check_container input {
  margin: 2px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

/* ###########################         Mobile/Tablet           ##################################### */

@media (max-width: 767px) {
}
