/* ################################## Attendance table style ################################## */

svg {
  float: right;
  margin: 5px;
}

.table {
  display: block;
  justify-content: center;
}

.table table {
  width: 90%;
  margin-inline: auto;
  border-collapse: collapse;
}

.table table,
.table th,
.table td {
  border: 2px solid black;
  height: 40px;
}

.table td {
  text-align: center;
}

.table .remove_btn {
  width: 50px;
}

.table .remove_btn svg {
  float: center;
  width: 50px;
}

.table img {
  width: 100px;
}

@media (max-width: 767px) {
  .table img {
    width: 50px;
  }
}

/* ################################## Form ################################## */

.form_container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

.form_container h1,
.form_container h2 {
  text-align: center;
}

.form_container h2 {
  margin-top: 60px;
}

.form_container h3,
.form_container h4 {
  margin-block: 20px 10px;
}

.form_container fieldset {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px dashed var(--primary-color);
}

.form_container legend {
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)) );
}

.form_container input[type="submit"],
.form_container input[type="button"] {
  margin-top: 0.5em;
  border-radius: 8px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  height: 2.5rem;
  width: 100%;
  cursor: pointer;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)) );
  font-weight: bold;
}

.form_container input[type="button"] {
  background-color: var(--primary-color);
}

.form_container input[type="submit"] {
  background-color: var(--button-green);
}

.form_container input[type="submit"]:hover {
  background-color: var(--button-green-dark);
}

.form_container input[type="button"]:hover {
  background-color: var(--primary-color-dark);
}

.form_subheading {
  margin: 40px 0px 15px 0px;
  padding: 10px;
  border-top: 2px dashed var(--primary-color);
}

/* ################################## ReinstatementSheet ################################## */

.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control input {
  padding: 0.7em;
  border: 1px solid #777;
  border-radius: 5px;
}

.preview_form_images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #777;
  border-radius: 10px;
  margin-bottom: 1em;
}

.preview_form_images img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  margin: 0.5em;
}

/* ################################## Site Setup ################################## */

/* and Method Statement */
.single_image {
  width: 100%;
  padding: 0.7em;
  margin-top: 0.3em;
  border: 1px solid #777;
  border-radius: 5px;
}

.preview_images {
  text-align: center;
}

.preview_images img {
  width: 70%;
  border-radius: 10px;
  margin: 0.5em;
}

/* ################################## Forms ################################## */

.add_hazard_controls {
  float: right;
  margin: 0.5em 0 1em 0;
  border-radius: 8px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)) );
}

.add_hazard_controls:hover {
  background-color: var(--primary-color-dark);
}

/* ###########################         Mobile/Tablet           ##################################### */

@media (max-width: 767px) {
  
}