/* Attendance table style */
svg {
  float: right;
  margin: 5px;
}

.table {
  display: block;
  justify-content: center;
}

.table table {
  width: 90%;
  margin-inline: auto;
  border-collapse: collapse;
}

.table table,
.table th,
.table td {
  border: 2px solid black;
  height: 40px;
}

.table td {
  text-align: center;
}

.table .remove_btn {
  width: 50px;
}

.table .remove_btn svg {
  float: center;
  width: 50px;
}

.form_container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

h1,
h2 {
  text-align: center;
}

fieldset {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px dashed var(--primary-color);
}

legend {
  font-weight: bold;
  font-size: 1em;
}

.form_container input[type="submit"],
.form_container input[type="button"] {
  margin-top: 0.5em;
  border-radius: 8px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  height: 2.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type="button"] {
  background-color: var(--primary-color);
}

.form_container input[type="submit"] {
  background-color: var(--button-green);
}

.form_container input[type="submit"]:hover {
  background-color: var(--button-green-dark);
}

.form_container input[type="button"]:hover {
  background-color: var(--primary-color-dark);
}

.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control input {
  padding: 0.7em;
  border: 1px solid #777;
  border-radius: 5px;
}

label {
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: 1em;
}

.preview_form_images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #777;
  border-radius: 10px;
  margin-bottom: 1em;
}

.preview_form_images img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  margin: 0.5em;
}

.comments_textarea,
.hazard_comments {
  width: 100%;
  padding: 0.7em;
  border: 1px solid #777;
  border-radius: 5px;
  margin-top: 0.3em;
  margin-bottom: 1em;
  resize: none;
}

.comments_textarea {
  height: 8em;
}

/* ################################## Site Setup ################################## */

.form_subheading {
  margin: 40px 0px 15px 0px;
  padding: 10px;
  border-top: 2px dashed var(--primary-color);
}

.hazard_comments {
  height: 3em;
}

.hazard_check_container,
.check_container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.check_container {
  margin-block: 15px;
}

.hazard_check_container label,
.check_container label {
  margin: 3px;
}

.check_container label {
  width: 90%;
  font-weight: normal;
}

.hazard_check_container input,
.check_container input {
  margin: 2px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.sketch_image {
  width: 100%;
  padding: 0.7em;
  margin-top: 0.3em;
  border: 1px solid #777;
  border-radius: 5px;
}

.preview_images {
  text-align: center;
}

.preview_images img{
  width: 70%;
  border-radius: 10px;
  margin: 0.5em;
}