.page_header {
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--primary-color);
}

.page_header h1 {
  margin-bottom: 0.5em;
}

.page_header p {
  margin-bottom: 1.5em;
}

.search_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.search {
  height: 40px;
  width: 320px;
  margin: 0.5em;
  text-align: center;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 16px;
  border: 2px solid var(--primary-color);
}

._container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

._card {
  display: flex;
  width: 90%;
  margin: 0.5em;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  opacity: 0.7;
}

._card img {
  margin: auto;
  width: 50px;
  height: 50px;
  margin-left: 1em;
}

._card_subcontainer {
  width: 100%;
  text-align: left;
  margin-inline: 1em;
}

._details p {
  margin: 0.2em;
}

.checkbox {
  display: inline-flex;
  margin: 10px;
}

.checkbox input {
  margin: auto;
  cursor: pointer;
}

.btn_container {
  position: sticky;
  display: flex;
  justify-content: center;
  bottom: 5vh;
  right: 0;
  left: 0;
}

.btn_create {
  border-radius: 8px;
  background-color: #25b456;
  color: #fff;
  border: none;
  height: 2.5rem;
  width: 300px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.btn_create:hover {
  background-color: #1c8a42;
}
