.footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(30,133,235,1) 0%, rgba(20,102,182,1) 100%);
  color: #ccc;
}

.bold {
  font-weight: bold;
  color: white;
}

/* ###########################         Mobile/Tablet           ##################################### */

@media (max-width: 767px) {
  .footer {
    height: 150px;
  }
}