.footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #ccc;
}

.bold {
  font-weight: bold;
  color: white;
}
