.home_header {
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--primary-color);
}

.home_header h1 {
  margin-bottom: 0.5em;
}

.home_header p {
  margin-bottom: 1.5em;
}

.home_selector {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--primary-color);
}

.btn_selector {
  width: 250px;
  height: 2em;
  color: var(--primary-color);
  margin: 0;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  background-color: #fff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.btn_selector_active {
  width: 250px;
  height: 2em;
  color: #fff;
  margin: 0;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.search_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.search {
  height: 40px;
  width: 320px;
  margin: 0.5em;
  text-align: center;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 16px;
  border: 2px solid var(--primary-color);
}

.pdfs_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pdf_card {
  display: flex;
  width: 90%;
  margin: 0.5em;
  border-bottom: 1px solid var(--primary-color);
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

.pdf_card img {
  margin: auto;
  width: 50px;
  height: 50px;
}

.pdf_card_subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pdf_details {
  text-align: left;
  margin-inline: 1em;
}

.pdf_details p {
  margin: 0.2em;
}

.pdf_card_buttons {
  margin-block: auto;
}

button {
  float: right;
  width: 8em;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 10px;
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.pdf_btn_edit:hover {
  background-color: #e0a800;
  border: none;
  color: #fff;
}

.pdf_btn_remove:hover {
  background-color: #db1a2e;
  border: none;
  color: #fff;
}

.pdf_btn_download:hover {
  background-color: #25b456;
  border: none;
  color: #fff;
}
