.map_container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.location_coordinates_container {
  position: fixed;
  padding: 10px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  z-index: 10;
}

.combobox {
  z-index: 10;
}

.search {
  height: 40px;
  width: 380px;
  margin: 0.2em;
  padding-inline: 10px;
  text-align: center;
  border-radius: 25px;
  color: var(--primary-color);
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)) );
  border: 2px solid var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.combobox_input {
  height: 40px;
  width: 380px;
  margin: 0.2em;
  padding-inline: 10px;
  text-align: center;
  border-radius: 25px;
  color: var(--primary-color);
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)) );
  border: 2px solid var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.btns_container{
  position: absolute;
  width: 40px;
  bottom: 30px;
  right: 0px;
  z-index: 20;
}

.btn_save {
  position: fixed;
  width: 220px;
  margin: 5px;
  background-color: #25b456;
  color: #fff;
  border: none;
  border-radius: 8px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 2.5rem;
  cursor: pointer;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)) );
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 10;
}

.btn_save:hover {
  background-color: #1c8a42;
}

/* ###########################         Mobile/Tablet           ##################################### */

@media (max-width: 767px) {
  .location_coordinates_container {
    top: 20px;
  }

  .search {
    width: 95vw;
  }
  
  .combobox_input {
    width: 95vw;
    margin: 0.2em;
  }

  .btn_save {
    width: 140px;
    height: 2.2rem;
  }
}