.map_container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.location_coordinates_container {
  position: absolute;
  padding: 10px;
  top: 80px;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 0);
  z-index: 10;
}

.combobox {
  z-index: 10;
}

.search {
  height: 40px;
  width: 400px;
  margin: 0.2em;
  padding-inline: 10px;
  text-align: center;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 18px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.combobox_input {
  height: 40px;
  width: 400px;
  margin: 0.2em;
  padding-inline: 10px;
  text-align: center;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 18px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.btn_save {
  position: absolute;
  width: 160px;
  background-color: #25b456;
  color: #fff;
  border: none;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 10;
}

.btn_save:hover {
  background-color: #1c8a42;
}
